*{
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
    font-size: large;
}
body{
    background: url(../img/8-1.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
#index{
    width: 100%;
}
.top div{
    display: inline-block;
    margin-top: 20px;
}
.title{
    /* background-color: #44A9F9; */
    color: white;
    font-size: large;
    width: 60%;
}
.title td{
    width:50px;
}
.avatar{
    text-align: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius:50% ;
    overflow: hidden;
}
.notice{
    margin-left: 30px;
}
.notice li{
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}
