body{
    background: rgb(241, 241, 241);
}
#meeting{
    margin-top: 50px;
    margin-left: 10%;
    background-color: white;
    width: 80%;
}
.title{
    display: inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 20px;
    width: 20%;
    vertical-align: top;
    padding-left: 2%;
}
.color{
    color: darkblue;
}
.content{
    display: inline-block;
    width: 55%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 50px;
}
.show{
    position: fixed;
    width: 50%;
    height: 200px;
    top: 25%;
    left: 25%;
    border: 1px solid black;
    background: white;
    z-index: 99;
    border-radius: 10px;
}
.show p{
    text-indent: 25px;
    margin: 5% 5%;
}
.show button{
    border: 0;
    margin-left: 96%;
    margin-top: 1%;
}
.notes{
    display: inline-block;
    vertical-align: bottom;
    width: 15%;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding-left: 1%;
    border-top-left-radius: 20px;
}
.notes p{
    overflow: hidden;
    height: 44px;
    cursor: pointer;
}
.notes p:hover{
    color: darkblue;
}