*{
    margin: 0;
    /* padding: 0; */
}
a{
    color: slateblue;
    text-decoration: none;
    cursor: pointer;
}
body{
    background: skyblue;
}
div{
    border: px solid black;
}
.background{
    background-image: url("../img/");
}
.title{
    border-radius: 0;
    height: 36px;
    padding: 10px;
    background-color: white;
    display: flex;
    font-size: large;
    /* background-color: white; */
}
.title div{
    height: 36px;
}
.title li{
    list-style: none;
    display: inline-block;
    line-height: 36px;
    margin-left: 10px;
    cursor: pointer;
}
.title a{
    color: black;
}
.avatar{
    width: 36px;
    height: 36px;
    border: 2px solid #44a9f9;
    border-radius:50% ;
    overflow: hidden;
    margin-left: 50%;
    margin-right: 10px;
}
.unchecked{
    color: gray;
}
.checked{
    color: black;
    /* background-color: white; */
}
.unchecked:hover{
    color: black;
}
.content{
    width: 65%;
    margin-left: 15%;
    margin-top: 8px;
    padding-top: 10px;
    padding-left: 5%;
    padding-bottom:20px ;
    background-color: #fff;
    border-radius:5px ;
}
.information{
    width: 70%;
    position: absolute;
    z-index: 999;
}
.information div{
    width: 30%;
    display: inline-block;
}
.information div h4{
    margin: 10px;
}
.article{
    width: 40%;
    display: inline-block;
}
.article div{
    border-bottom: 1px dotted gray;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 40px;
}
.meeting{
    margin-top: 20px;
    width: 90%;
    height: 130px;
    border-bottom:1px dotted black ;
}
.meeting a:hover{
    color: darkblue;
}
.meeting div{
    display: inline-block;
}
.meeting p{
    height: 60px;
    overflow: hidden;
    text-indent: 25px;
    cursor: pointer;
}
.meeting p:hover{
    color: darkblue;
}
.text{
    position: fixed;
    top: 25%;
    left: 25%;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    height: 300px;
    background-color: white;
}
.text button{
    border: 0;
    margin-top: 1%;
    margin-left: 96%;
}
.text p{
    text-indent: 25px;
    margin: 5% 5%;
}
.content table{
    width: 85%;
}
.content table tr{
    height: 40px;
    /* border-bottom: 1px dotted gray; */
}
.content table th{
    width: 25%;
    border-bottom: 1px solid black;
}
.content table td{
    text-align: center;
    border-bottom: 1px dotted gray;
}
.content table td a:hover{
    color: darkblue;
}
.content span{
    cursor: pointer;
}
.content span:hover{
    color: darkblue;
}
