<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电子商务</title>
    <link rel="stylesheet" type="text/css" href="../css/教师端.css">
</head>
<body>
     <div id="background">
         <div class="title" >
             <table>
                 <tr>
                     <td style="width: 32%;border-left: 0;"><img src="../img/4.png" width="100%"></td>
                     <td @click="checked(1)" :class="{checked:num==1}" class="unchecked">教师信息</td>
                     <td @click="checked(2)" :class="{checked:num==2}" class="unchecked">会议</td>
                     <td @click="checked(3)" :class="{checked:num==3}" class="unchecked">科研成果</td>
                     <td @click="checked(4)" :class="{checked:num==4}" class="unchecked">教授课程</td>
                 </tr>
             </table>
         </div>
         <div class="content" v-show="num==1">
             <div class="information">
                 <div style="border: 5px double skyblue;border-radius: 50%;overflow: hidden;"><img src="../img/1.jpg" width="100%"></div>
                 <div>
                     <h4>姓名：Jinx</h4>
                     <h4>性别：女</h4>
                     <h4>年龄：17</h4>
                     <h4>入职时间:2020年1月1日</h4>
                     <h4>研究方向:</h4>
                 </div>
             </div>
             <div class="article">
                 <div v-for="(item,index) in article" v-if="index<=1">
                     <h2 v-text="item.name"></h2>
                     <p style="text-indent: 25px;margin-top: 10px;" v-text="item.content"></p>
                 </div>
                  <a style="margin-left:80%;font-size: large;" class="unchecked" href="文章.html" target="_blank">更  多</a>
             </div>
             <div style="display: inline-block;width: 50%;position: relative;vertical-align: bottom;"><img src="../img/5.jpg" width="100%"></div>
         </div>
         <div class="content" v-show="num==2">
             <div v-for="(item,index) in meeting" v-if="index<=3">
                 <h1 style="text-align: center;" v-text="item.name"></h1>
                 <p v-text="item.content"></p>
             </div>
         </div>
         <div class="content" v-show="num==3">
            <div v-for="(item,index) in research" v-if="index<=3">
                <h1 style="text-align: center;" v-text="item.name"></h1>
                <p v-text="item.content"></p>
            </div>
         </div>
         <div class="content" v-show="num==4">
             <table>
                 <tr style="border-bottom: 1px solid black;">
                     <th>教授课程</th>
                     <th>最新课程</th>
                     <th>最新课程反馈</th>
                     <th>总课程反馈</th>
                 </tr>
                 <tr v-for="(item,index) in course">
                     <td><a v-text="item.name" href="../html/课程反馈.html" target="_blank"></a></td>
                     <td v-text="item.lesson[course[index].lesson.length-1].date"></td>
                     <td v-text="item.lesson[course[index].lesson.length-1].feedback[course[index].lesson[course[index].lesson.length-1].feedback.length-1]"></td>
                     <td v-text="item.feedback[course[index].feedback.length-1]"></td>
                 </tr>
             </table>
         </div>
         <div style="height: 200px;"></div>
     </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/教师端.js"></script>

