<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>课程反馈</title>
    <link rel="stylesheet" href="../css/课程反馈.css">

</head>
<body>
    <!-- 节数 对应课程反馈 总课程反馈 -->
    <div id="feedBack">

        <div class="title0" @click="close()">
            <div><a href="../html/index.html"><img src="../img/4-5.png" width="160px"></a></div>
            <div>
               <li>专业介绍</li>
               <li><a href="./教师信息.html">教师信息</a></li>
               <li>校友信息</li>
               <li>系内活动</li>
            </div>
            <div class="avatar"><a href="../html/教师个人中心.html"><img src="../img/1.jpg" width="36px"></a></div>
            <div>
                <li><a href="../html/通知.html">通知</a></li>
                <li><a href="../html/通知.html">信箱</a></li>
            </div>      
        </div>


        <div class="lesson">
            <p v-for="(item,index) in lesson" v-text="item.date" @click="change(index)":class="{color:num==index}"></p>
        </div>
        <div class="feedBack">
            <div class="text" v-for="item in lesson[num].feedback" v-text="item" @click="show(item)"></div>
            <div class="show" v-show="isShow">
                <button @click="close"><img src="../img/叉.png" width="10px"></button>
                <p v-text="text"></p>
            </div>
        </div>
        <div class="FeedBack">
            <p v-for="item in feedback" v-text="item" @click="show(item)"></p>
        </div>
    </div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/课程反馈.js"></script>
